.home {
  background-image: url("./Home.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--h-full);
  width: 100%;
  overflow: hidden;
}