.home {
  background-image: url("./Home.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--h-full);
  width: 100%;
  overflow: hidden;
}

.main {
  padding: 0 var(--padding-2);
  border-radius: var(--radius-default);
  background-color: none;
  height: 50vh;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  @util center;
}

.main > p {
  font-family: 'Poppins Bold';
  font-size: 3rem;
  margin-bottom: var(--margin-5);
  pointer-events: none;
}

.main > a {
  display: flex;
  justify-content: center;
  font-family: 'Raleway Medium';
  background-color: var(--color-6);
  border: none;
  padding: var(--padding-2) 0;
  margin: var(--margin-1) 0;
  width: 25rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.main > a:hover {
  background-color: var(--color-secondary);
  transition: all 0.2s ease;
}

.app-enter-active, .app-leave-active {
  transition: opacity .5s;
}

.app-enter, .app-leave-to {
  opacity: 0;
}
