section {
  padding: 0 var(--padding-2);
  border-radius: var(--radius-default);
  background-color: none;
  height: 50vh;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @util center;
}

section > p {
  font-family: 'Poppins Bold';
  font-size: 3rem;
  margin-bottom: var(--margin-5);
  pointer-events: none;
}

section > button { 
  background-color: var(--color-6);
  border: none;
  padding: var(--padding-2) 0;
  margin: var(--margin-1) 0;
  width: 25rem;
  cursor: pointer;
}

section > button:hover {
  background-color: var(--color-secondary);
  transition: all 0.2s ease;
}

section > button > a {
  font-family: 'Raleway Medium';
  font-size: 1.2rem;
  text-decoration: none;
}