.generics {
  display: flex;
  flex-flow: column nowrap;
}

.generics__initial {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.generics__initial--title {
  color: black;
  font-size: 3vw;
  cursor: pointer;
}

.generics__initial__aside {
  display: flex;
  flex-flow: row nowrap;
}

.generics__initial__aside--item {
  padding: var(--padding-1) var(--padding-2);
}

.generics__initial__aside--item > h2 {
  font-family: 'Raleway Medium';
  font-size: 2.2vw;
  border-bottom: 1px solid black;
}

.generics__initial__aside--item > p {
  font-size: 2vw;
  font-family: 'Raleway Medium';
}

.items {
  display: flex;
  height: auto;
  padding: var(--padding-2);
}

.items__hability {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  height: 900px;
  width: 12vw;
  background-color: var(--item-primary);
  padding: var(--padding-1);
}

.items__save {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  height: 900px;
  width: 30vw;
  margin-left: var(--margin-2);
}

.items__save__proficiency {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--item-primary);
  padding: var(--padding-1);
  border-radius: 8px;
  width: 100%;
}

.items__save__proficiency:hover {
  background-color: var(--item-primary-hover);
}

.items__save--value {
  background-color: var(--background-white);
  border-radius: 200px;
  padding: var(--padding-1) var(--padding-2);
  color: black;
}

.items__skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--margin-1);
  background-color: var(--item-primary);
  padding: var(--padding-1);
  width: 100%;
}

.items__skills:hover {
  background-color: var(--item-primary-hover);
}


.items__base {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  height: 900px;
  width: 45vw;
  margin-left: var(--margin-2);
}

.items__base__data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--item-primary);
  padding: var(--padding-1);
  margin-left: var(--margin-2);
}

.data__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding-3) - 1px) var(--padding-1);
  cursor: pointer;
}

.data__container:hover {
  background-color: var(--item-primary-hover);
}

.data__container > h2 {
  font-family: "Poppins Bold";
}

.data__container > p {
  font-family: "Poppins Light";
  font-size: 1.15rem;
}

.base__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: var(--item-primary);
  padding: var(--padding-1);
  margin-left: var(--margin-2);
  margin-top: calc(var(--margin-2) - 2px);
}

.base__text__initial {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.base__text__initial > h2 {
  font-family: "Poppins Bold";
}

.base__text__initial > button {
  height: 26px;
  border-radius: 180px;
  padding: 0 var(--padding-1);
  border: 2px solid white;
  background: none;
  cursor: pointer;
}

.base__text__initial > button:hover {
  border-color: var(--item-primary-hover);
}

.base__text__description {
  font-family: "Raleway Tiny";
  font-size: 1rem;
}
