.profile--aligned {
  background: url("./img/profile-aligned.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(var(--h-full) - var(--bar-full));
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: var(--bar-full);
}

.profile--rouanir {
  background: url("./img/profile-rouanir.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(var(--h-full) - var(--bar-full));
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: var(--bar-full);
}

.profile--gyni {
  background: url("./img/profile-gyni.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(var(--h-full) - var(--bar-full));
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: var(--bar-full);
}

.profile--frederitch {
  background: url("./img/profile-frederitch.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(var(--h-full) - var(--bar-full));
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: var(--bar-full);
}

.profile--pacyentesn {
  background: url("./img/profile-pacyentesn.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(var(--h-full) - var(--bar-full));
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: var(--bar-full);
}

.profile--agoni {
  background: url("./img/profile-agoni.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(var(--h-full) - var(--bar-full));
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: var(--bar-full);
}

.profile--yayr {
  background: url("./img/profile-yayr.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(var(--h-full) - var(--bar-full));
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: var(--bar-full);
}

.generics {
  display: flex;
  flex-flow: column nowrap;
}

.generics__initial {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.generics__initial--title {
  color: black;
  font-size: 3vw;
  cursor: pointer;
}

.generics__initial__aside {
  display: flex;
  flex-flow: row nowrap;
}

.generics__initial__aside--item {
  padding: var(--padding-1) var(--padding-2);
}

.generics__initial__aside--item > h2 {
  font-family: 'Raleway Medium';
  font-size: 2.2vw;
  border-bottom: 1px solid black;
  color: black;
}

.generics__initial__aside--item > p {
  font-size: 2vw;
  font-family: 'Raleway Medium';
  color: black;
}

.hability {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: var(--margin-1) 0;
  padding: var(--padding-2) 0;
  border-bottom: 1px solid var(--background-white);
  border-radius: 16px;
}

.hability:hover {
  background-color: var(--item-primary-hover);
}

.hability--title {
  font-size: 0.9rem;
}

.hability--general {
  font-size: 1rem;
  background-color: var(--background-white);
  padding: 4px var(--padding-3);
  border-radius: 180px;
  color: black;
  cursor: pointer;
}

.hability--general:hover {
  background-color: var(--color-secondary);
}

.hability--main {
  font-size: 1.3rem;
}

.items {
  display: flex;
  height: auto;
  padding: var(--padding-2);
}

.items__hability {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  height: 100%;
  width: 12vw;
  background-color: var(--item-primary);
  padding: var(--padding-1);
}

.items__save {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  height: 100%;
  width: 30vw;
  margin-left: var(--margin-2);
}

.items__save__proficiency {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--item-primary);
  padding: var(--padding-1);
  border-radius: 8px;
  width: 100%;
}

.items__save__proficiency:hover {
  background-color: var(--item-primary-hover);
}

.items__save--value {
  background-color: var(--background-white);
  border-radius: 200px;
  padding: var(--padding-1) var(--padding-2);
  color: black;
}

.items__skills {
  margin-top: var(--margin-1);
  background-color: var(--item-primary);
  padding: var(--padding-1);
  width: 100%;
}
