.profile {
  background-image: url("./Profile.png");
  background-color: var(--color-default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(var(--h-full) - var(--bar-full));
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: var(--bar-full);
}

.generics {
  display: flex;
  flex-flow: column nowrap;
}

.generics__initial {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.generics__initial--title {
  font-size: 3vw;
}

.generics__initial__aside {
  display: flex;
  flex-flow: row nowrap;
}

.generics__initial__aside--item {
  padding: var(--padding-1) var(--padding-2);
}

.generics__initial__aside--item > h2 {
  font-family: 'Raleway Medium';
  font-size: 2.2vw;
  border-bottom: 1px solid var(--background-white);
}

.generics__initial__aside--item > p {
  font-size: 2vw;
  font-family: 'Raleway Medium';
}

.hability {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: var(--margin-1) 0;
  padding: var(--padding-2) 0;
  border-bottom: 1px solid var(--background-white);
}

.hability--title {
  font-size: 1rem;
}

.hability--general {
  font-size: 1rem;
  background-color: var(--background-white);
  padding: 4px var(--padding-3);
  border-radius: 180px;
  color: black;
}

.hability--main {
  font-size: 1.5rem;
}

.items {
  height: auto;
  padding: var(--padding-2);
  background-color: rgba(0, 0, 0, 0.3);
}

.items__hability {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  height: 100%;
  width: 15vw;
  background-color: var(--item-primary);
  padding: var(--padding-1);
}