/* General */
.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.center {
  @util center;
}

/* Vue Transitions */

.app-enter-active, .app-leave-active {
  transition: opacity .5s;
}

.app-enter, .app-leave-to {
  opacity: 0;
}

/* Tailwind */

@layer components {
  .form-basic {
    @apply flex justify-between items-center w-full p-1; 
  }

  .form-basic > label {
    @apply text-lg text-default-blueDark dark:text-default-blueTertiary;
  }

  .form_basic > input {
    @apply bg-default-black px-:2 w-20;
  }

  .item-right-aside {
    @apply flex flex-col justify-start items-center w-full bg-dark-one dark:bg-dark-bg dark:hover:bg-dark-bgHover hover:bg-dark-inputHover p-:1 ml-:2 mt-:2;
  }
}



