@font-face { font-family: "Raleway Tiny"; src: url("../assets/fonts/Raleway-Light.ttf") format("truetype"); }

@font-face { font-family: "Raleway Normal"; src: url("../assets/fonts/Raleway-Medium.ttf") format("truetype"); }

@font-face { font-family: "Raleway ExtraBold"; src: url("../assets/fonts/Raleway-ExtraBoldItalic.ttf") format("truetype"); }

@font-face { font-family: "Poppins Bold"; src: url("../assets/fonts/Poppins-Bold.otf") format("opentype"); }

@font-face { font-family: "Poppins Normal"; src: url("../assets/fonts/Poppins-Medium.otf") format("opentype"); }

@font-face { font-family: "Poppins Light"; src: url("../assets/fonts/Poppins-Light.otf") format("opentype"); }

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 16px;
  font-family: "Poppins Normal";
  color: theme("colors.default.white");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-1: #7a87ee;
  --color-2: #676ee3;
  --color-3: #e8e8f8;
  --color-4: #171a99;
  --color-5: #b3b2d3;
  --color-6: #131313;
  --item-primary: #161616;
  --item-primary-hover: #2f2f2f;
  --color-default: #35495e;
  --color-secondary: #b5d6fa;
  --color-input: #181818;
  --color-input-hover: #212121;
  --color-white-hover: #bbb;
  --background-black: #000;
  --background-white: #fff;
  --radius-default: 8px;
  --padding-1: 0.5rem;
  --padding-2: 1rem;
  --padding-3: 1.5rem;
  --padding-4: 2rem;
  --padding-5: 2.5rem;
  --margin-1: 0.5rem;
  --margin-2: 1rem;
  --margin-3: 1.5rem;
  --margin-4: 2rem;
  --margin-5: 2.5rem;
  --h-full: 100vh;
  --bar-full: 5vh;
}

html {
  overflow-x: hidden;
}

.app-enter-active, .app-leave-active {
  transition: opacity .5s;
}

.app-enter, .app-leave-to {
  opacity: 0;
}