@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .character-hability {
    @apply flex flex-col justify-between items-center h-full w-full my-:1 py-:2 bg-dark-one dark:bg-white-one hover:bg-dark-oneHover dark:hover:bg-white-oneHover rounded-xl border-b-2 border-default-white dark:border-default-black;
  }

  .character-proficiency {
    @apply flex justify-around items-center w-full h-16 overflow-x-hidden bg-dark-one dark:bg-white-one hover:bg-dark-oneHover dark:hover:bg-white-oneHover;
  }

  .outline-solid-white {
    outline: 2px solid theme("colors.default.white");
    outline-offset: 2px;
  }

  .outline-solid-black {
    outline: 2px solid theme("colors.default.black");
    outline-offset: 2px;
  }

  :root::-webkit-scrollbar {
    width: 8px;
  }
  
  :root::-webkit-scrollbar-track {
    background: theme("colors.default.white");
  }
  
  :root::-webkit-scrollbar-thumb {
    background: theme("colors.dark.input");
  }
  
  :root::-webkit-scrollbar-thumb:hover {
    background: theme("colors.default.blueLight");
  }
  
  .dark::-webkit-scrollbar {
    width: 8px;
  }
  
  .dark::-webkit-scrollbar-track {
    background: theme("colors.dark.input");
  }
  
  .dark::-webkit-scrollbar-thumb {
    background: theme("colors.default.blueDark");
  }
  
  .dark::-webkit-scrollbar-thumb:hover {
    background: theme("colors.default.blueLight");
  }
}