@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .character-hability {
    @apply flex flex-col justify-between items-center h-full w-full my-:1 py-:2 rounded-xl border-b-2 border-default-white dark:border-default-black dark:hover:bg-dark-bgHover;
  }

  .character-proficiency {
    @apply flex justify-around items-center w-full h-16 overflow-x-hidden bg-dark-one dark:bg-dark-bg hover:bg-dark-oneHover dark:hover:bg-dark-bgHover;
  }

  .modal-background { 
    @apply fixed h-full top-0 left-0 w-screen flex justify-center items-center bg-opacity-90 hover:bg-opacity-90 bg-dark-oneHover hover:bg-default-black transition duration-200 ease-in-out select-none;
  }

  .outline-solid-white {
    outline: 2px solid theme("colors.default.white");
    outline-offset: 2px;
  }

  .outline-solid-black {
    outline: 2px solid theme("colors.default.black");
    outline-offset: 2px;
  }

  :root::-webkit-scrollbar {
    width: 8px;
  }
  
  :root::-webkit-scrollbar-track {
    background: theme("colors.default.white");
  }
  
  :root::-webkit-scrollbar-thumb {
    background: theme("colors.dark.input");
  }
  
  :root::-webkit-scrollbar-thumb:hover {
    background: theme("colors.default.blueLight");
  }
  
  .dark::-webkit-scrollbar {
    width: 8px;
  }
  
  .dark::-webkit-scrollbar-track {
    background: theme("colors.dark.input");
  }
  
  .dark::-webkit-scrollbar-thumb {
    background: theme("colors.default.blueDark");
  }
  
  .dark::-webkit-scrollbar-thumb:hover {
    background: theme("colors.default.blueLight");
  }
}