@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .character-hability {
    @apply flex flex-col justify-between items-center h-full w-full my-:1 py-:2 rounded-xl border-b-2 border-default-white dark:border-default-black dark:hover:bg-dark-bgHover;
  }

  .character-proficiency {
    @apply flex justify-around items-center w-full h-16 overflow-x-hidden bg-dark-one dark:bg-dark-bg hover:bg-dark-oneHover dark:hover:bg-dark-bgHover;
  }

  .modal-background { 
    @apply fixed h-full top-0 left-0 w-screen flex justify-center items-center bg-opacity-90 hover:bg-opacity-90 bg-dark-oneHover hover:bg-default-black transition duration-200 ease-in-out select-none;
  }

  .full-background { 
    @apply fixed h-screen pt-:3 top-0 left-0 w-screen bg-opacity-90 bg-default-black hover:bg-default-black transition duration-200 ease-in-out select-none;
  }

  .outline-solid-white {
    outline: 2px solid theme("colors.default.white");
    outline-offset: 2px;
  }

  .outline-solid-black {
    outline: 2px solid theme("colors.default.black");
    outline-offset: 2px;
  }

  .rarity-common {
    box-shadow: inset 0 0 15px 2px theme("colors.rarity.common");
    transition: box-shadow 0.1s ease-in;
  }

  .rarity-uncommon {
    box-shadow: inset 0 0 15px 2px theme("colors.rarity.uncommon");
    transition: box-shadow 0.1s ease-in;
  }

  .rarity-epic {
    box-shadow: inset 0 0 15px 2px theme("colors.rarity.epic");
    transition: box-shadow 0.1s ease-in;
  }

  .rarity-legendary {
    box-shadow: inset 0 0 15px 2px theme("colors.rarity.legendary");
    transition: box-shadow 0.1s ease-in;
  }

  .rarity-common:hover {
    box-shadow: inset 0 0 25px 2px theme("colors.rarity.common");
  }

  .rarity-uncommon:hover {
    box-shadow: inset 0 0 25px 2px theme("colors.rarity.uncommon");
  }

  .rarity-epic:hover {
    box-shadow: inset 0 0 25px 2px theme("colors.rarity.epic");
  }

  .rarity-legendary:hover {
    box-shadow: inset 0 0 25px 2px theme("colors.rarity.legendary");
  }

  :root::-webkit-scrollbar {
    width: 8px;
  }
  
  :root::-webkit-scrollbar-track {
    background: theme("colors.default.white");
  }
  
  :root::-webkit-scrollbar-thumb {
    background: theme("colors.dark.input");
  }
  
  :root::-webkit-scrollbar-thumb:hover {
    background: theme("colors.default.blueLight");
  }
  
  .dark::-webkit-scrollbar {
    width: 8px;
  }
  
  .dark::-webkit-scrollbar-track {
    background: theme("colors.dark.input");
  }
  
  .dark::-webkit-scrollbar-thumb {
    background: theme("colors.default.blueDark");
  }
  
  .dark::-webkit-scrollbar-thumb:hover {
    background: theme("colors.default.blueLight");
  }

  .min-w-40 {
    min-width: 10rem;
  }
}